<h1>New Kitten</h1>
<form method="post" action="/kittens">
  <p>
    Name:
    <input name="name">
  </p>
  <p>
    Colour:
    <input name="color">
  </p>
  <p>
    <button>Create Kitten</button>
  </p>
</form>
