<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <form method="post" action="/urls/9sm5xK/delete">
      <p>
        Delete <%= urls['b2xVn2'] %> </br>
        <button>Delete</button>
      </p>
      <p>
        Delete <%= urls['9sm5xK'] %> </br>
        <button>Delete</button>
      </p>
    </form>
  </body>
</html>